<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Son Of Cod", "Index", "Home")
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="li-nav">
                    @Html.ActionLink("Products", "Index", "Products")
                </li>
                <li class="li-nav">
                    @Html.ActionLink("Admin", "Index", "Account")
                </li>
                <li class="li-nav">
                    @Html.ActionLink("About", "Marketing", "Home")
                </li>
                <li class="li-nav">
                    @Html.ActionLink("Newsletter Sign Up", "Create", "Recipients")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
